# PostgreSQL Database URL
# Формат: postgresql://пользователь:пароль@хост:порт/база_данных
DATABASE_URL=postgresql://tnb_user_1_vsm400_user:your_password@localhost:5432/tnb_user_1_vsm400

# API Configuration  
API_HOST=0.0.0.0
API_PORT=8000

